<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Jotted" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Jotted">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="<%= ENV.fetch("ASSET_PREFIX", "") %>/manifest.json">

    <link rel="icon" href="<%= ENV.fetch("ASSET_PREFIX", "") %>/icon.png" type="image/png">
    <link rel="icon" href="<%= ENV.fetch("ASSET_PREFIX", "") %>/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="<%= ENV.fetch("ASSET_PREFIX", "") %>/icon-180.png">

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>

    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("<%= ENV.fetch("ASSET_PREFIX", "") %>/service-worker");
      }
    </script>
  </body>
</html>
